back-end/node_modules
back-end/public/hot
back-end/public/storage
back-end/storage/*.key
back-end/vendor
back-end/.env
back-end/.env.backup
back-end/.phpunit.result.cache
back-end/docker-compose.override.yml
back-end/Homestead.json
back-end/Homestead.yaml
back-end/npm-debug.log
back-end/yarn-error.log


font-end/.DS_Store
font-end/node_modules/
font-end/dist/
font-end/npm-debug.log*
font-end/yarn-debug.log*
font-end/yarn-error.log*
font-end/test/unit/coverage/
font-end/test/e2e/reports/
font-end/selenium-debug.log

# Editor directories and files
font-end/.idea
font-end/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.idea
